/*Universal Code, setting background color*/
* {
    padding: 0;
    margin: 0;
    background-color: black;
}

/* Sets the scrolling behavior*/
html {
    scroll-behavior: smooth;
}

/*positions the navigation bar*/
nav {
    float: right;
    margin-top: -20px;
    margin-right: 20px;
}

/*removes styles for the ul*/
nav ul {
    list-style-type: none;
}

/*positions the terms inside of the navigation bar*/
nav li {
    margin-left: 25px;
    display: inline-block;
    font-size: 24px;
}

/*controls the color and text of the NavBar text*/
a {
    color: white;
    text-decoration: none;
    font-family: fantasy;
}

/*sets style of the name in the banner*/
header h2 {
    margin-top: 20px;
    color: white;
    margin-left: 10px;
    font-family: fantasy;
    font-size: 36px;
}

/*Hides the 3 buttons until the media query*/
header figure {
    display: none;
}

/*gives a background hover over on the NavBar*/
a:hover {
    background-color: red;
    transition: all .5s ease-in;
}

/*space banner sizing*/
.banner {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 100px;
    width: 100%;
}

/*hidden titles for the containers that appear in media querry*/
h5 {
    display: none;
}

/*creates a 2x3 grid that is the skeleton of the body*/
.gridcontainer {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
}

/* Controls the Left collumn of the grid*/
.containerL {
    margin-left: 10%;
    margin-right: 10px;
    text-align: end;
    color: white;
    border-right: 5px solid red;
    background-color: rgb(24, 22, 22);
    font-family: fantasy;
    font-size: 48px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: auto
}

/*controls the right content containers*/
.containerR {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    background-color: rgb(24, 22, 22);
    color: white;
}

/*controls the about me right container, structuring the contents in the box */
.containerR-1 {

    flex-wrap: nowrap;
    min-width: 50px;
    min-height: 100px;
    margin-bottom: 20px;
}

/*controls the text in about me*/
p {
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgb(24, 22, 22);
}

/*controls the porfolio right container, structuring the contents in the box */
.containerR-2 {
    margin-bottom: 20px;
    padding-top: 20px;
    border: 20px;

}

.containerR-2 a {
    margin: 20px;
    opacity: .5;
    background-color: rgb(24, 22, 22)
}
.containerR-2 a:hover{
    opacity: 1;
}
/*controls the contact me right container, structuring the contents in the box */
.containerR-3 {
    display: flex;
    min-width: 50px;
    min-height: 100px;
    align-items: center;
}

/* controls the  large picture in the portfolio section*/
.propic1 {
    width: 100%;
    padding: 2%;
    height: 600px;
    opacity: .5;
}

/*maximizes opacity on large profile picture as a hover effect*/
.propic1:hover {
    visibility: 100%;
    opacity: 1;
}

/* controls aspects of the smaller pictures*/
.propic2 {
    
    margin: 10px;
    width: auto;
    height: 300px;
    transform: rotate(10deg);
    
}

/*sets text for the h6 which is the contact me text*/
h6 {
    background-color: rgb(24, 22, 22);
    font-size: 30px;
    text-decoration: underline;

}

/*sets footer element to flex and centers the text*/
footer {
    display: flex;
    justify-content: center;

}

/*puts small image of my logo that brings you back to the top of the page*/
.imgpara {
    max-height: 20px;
    max-width: 20px;
    margin-top: 20px;
    margin-left: 10px;

}

/*text alignment for the h4 footer tag*/
footer h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

/*sets media querry for a mobile view*/
@media screen and (max-width:768px) {

    /*hides the original header h2*/
    header h2 {
        display: none;
    }

    /* makes the body into columns*/
    .gridcontainer {
        grid-template-columns: 100%;
    }

    /*removes the navbar*/
    header nav {
        display: none;
    }

    /*gives structure to the 3 buttons that replaced the navBar*/
    .buttlinks {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    /*controls the margins and size of the 3 buttons*/
    .imgbutt {
        width: 90%;
        margin: 10px;
    }

    /*removes the left container*/
    .containerL {
        display: none;
    }

    /*gives background and structure to the visible container*/
    .containerR {
        justify-self: center;
        background-color: rgb(24, 22, 22);
        align-content: center;
    }

    /*controls the labels of the containers*/
    h5 {
        display: flex;
        justify-content: center;
        color: white;
        text-align: center;
        font-size: 32px;
        font-family: fantasy;
    }

    /*structure of the first container*/
    .containerR-1 {
        margin: 10px;
        padding: 0px 10px 0px 10px;
        width: 90%;
        min-height: 100px;
        flex-wrap: wrap;
    }

    /*structure of the portfolio container*/
    .containerR-2 {
        justify-content: space-evenly;
        margin: 10px;
        padding: 0px 10px 10px 10px;
        width: 90%;
        height: 100%;
    }

    /*structure of contact me container*/
    .containerR-3 {
        margin: 10px;
        padding: 0px 10px 0px 10px;
        width: 90%;
        min-height: 100px;
    }

    .propic1   {
        height: 500px;
        width: auto;

    }
    /*structure of the small p*/
    .propic2 {
        width:250px;
        height: 250px;
    }
}