/*Universal Code, setting background color*/
* {
    padding: 0;
    margin: 0;
    background-color: black;
}
/* Sets the scrolling behavior*/
html{
    scroll-behavior: smooth;
}

/*positions the navigation bar*/
nav{
    float: right;
    margin-top: -20px;
    margin-right: 20px;
}
/*removes styles for the ul*/
nav ul{
    list-style-type: none;
}
/*positions the terms inside of the navigation bar*/
nav li{
    margin-left: 25px ;
    display: inline-block;
    font-size: 24px;   
}
/*controls the color and text of the NavBar text*/
a{
    color: white;
    text-decoration:none;
    font-family: fantasy;
}
/**/
a:hover{
    background-color: red;
    transition:.5s ease bottom;

}
.banner{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    max-height: 100px;
    width: 100%;

}
.aboutpic{
    display: flex;
}


header h2{
    margin-top: 20px;
    width: fit-content;
    color: white;
    margin-left: 10px;
    font-family: fantasy;
    font-size: 36px;

}

header figure{
    display: none;
}

h5{
    display: none;
}

.gridcontainer{
    display: grid;
    grid-template-columns:30% 70%;
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
    
}
.containerL{
    justify-content: left;
    margin-left: 20px;
    margin-right: 10px;
    text-align: end;
    flex: 1 1 ;
    color: white;
    border-right: 5px solid red;
    background-color: rgb(24, 22, 22);
    font-family: fantasy;
    font-size: 48px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   }

.containerL-1{
    min-width: 50px;
    min-height: 60px;
    margin-bottom: auto;
}
.containerL-2{
    min-width: 50px;
    min-height: 60px;
    margin-bottom: auto;
}
.containerL-3{
    min-width: 50px;
    min-height: 60px;
    margin-bottom: auto;
}
.containerR{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(24, 22, 22);
    color: white;
}
.containerR-1{
    display: flex;
    min-width: 50px;
    min-height: 100px;
    margin-bottom: 20px;
}
.containerR-2{

    min-height: 100px;
    margin-bottom: 20px;
    padding-top: 20px;
    justify-content: center;

}
.containerR-3{
    display: flex;
    min-width: 50px;
    min-height: 100px;

}
.propic1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    box-sizing:content-box;
    align-self: center; 
    height: auto;
    opacity: .5;
   }

.propic1:hover{
    visibility: 100%;
    opacity: 1;
}
.propic2{
    justify-content: center;  
    align-self: center; 
    margin: 10px;
    width: 300px;
    height: 200px; 
    transform: rotate(.1deg); /* BECAUSE FOR SOME REASON THERE NEEDS TO BE A TILT */ 
}


footer{
    display: flex;
    justify-content: center;

}
.imgpara{
    max-height: 20px;
    max-width: 20px;
    margin-top: 20px;
    margin-left: 10px;

}

footer h4{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align:center;

}
@media screen and (max-width:768px){
    
    header h2{
    display:none;}
    
    header figure{
    display: flex;
 
    }
    
    .gridcontainer{
        grid-template-columns: 100%;
        grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
        
    }
    header nav{
        display: none;
    }
    .buttlinks{
        display: flex;
        flex-direction: row;
        align-self: center;
       
     
    }
    .imgbutt{
        display: flex;
        width: 90%;
        margin: 10px;
    }
    
    .containerL{
        display: none;
    }
    .containerR{
        justify-self: center;     
        background-color: rgb(24, 22, 22);
    }
    
    h5{
        display: flex;
        justify-content: center;
        color: white;
        text-align: center;
        font-size: 32px;
        font-family: fantasy;
    
    }   

    .containerR-1{
        margin:10px;
        padding: 0px 10px 0px 10px;
        width: 90%;
        min-height: 100px;
      
    }
    .containerR-2{
        margin:10px;
        padding: 0px 10px 0px 10px;
        width: 90%;
        min-height: 100px;
    }
    .containerR-3{
        margin:10px;
        padding: 0px 10px 0px 10px;
        width: 90%;
        min-height: 100px;
    }

    .propic2{ 
        margin: none;  
        width: 400px;
        height: 200px;  
    }
}

    
